<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- Proportional rendering according to screen dimensions -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Loading library with src link is also needed for prototyping -->
  <!-- i.e, preview html with libraries effects without running the spring application -->
  <!-- Check if there already is a webjar before going to production -->

  <!-- Compiled Bootstrap and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--JQuery for showing bar dropdown-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.min.js"></script>

  <!--Webjars -->
  <!-- Does not preview libraries in html, so we load them with src -->
  <!-- Provides static analyzer when added to maven in pom.xml-->
  <!-- No need to load webjar here to activate static analyzer -->
  <!--<script th:src="@{/webjars/angularjs/1.7.0/angular.min.js}"></script>-->

  <title>Knowledge</title>
</head>
<body>
<header th:replace="topBar::topBar"></header>
<section ng-app="myApp" class="container" ng-controller="knowledgeController">
  <h1>Knowledge</h1>
  <span class="help-block col-sm-6">Tell what you are willing to teach</span>
  <!--Add new-->
  <p><a ng-click="show()" class="btn btn-primary   btn-lg"><span class="glyphicon glyphicon-plus"></span></a></p>
  <!--Form-->
  <form class="form-horizontal" ng-hide="hideForm">
    <h2>Add new</h2>
    <div class="form-group">
      <label class="col-sm-2 control-label">Title</label>
      <div class="col-sm-3">
        <input ng-model="title" class="form-control" type="text" placeholder="?" required>
        <span class="help-block">Only a few words</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-3">
        <textarea ng-model="description" class="form-control" rows="4" placeholder="?" required></textarea>
        <span class="help-block">Briefly describe one knowledge</span>
      </div>
    </div>
    <div align="center">
      <button type="submit" ng-click="save(title, description)" class="btn btn-primary">Save</button>
      <button ng-click="cancel()" type="button" class="btn btn-default">Cancel</button>
    </div>
  </form>
  <div ng-init="findAll()">
    <h2>Your list</h2>
    <table ng-if="knowledgeList != null" class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
      </tr>
      </thead>
      <tr ng-repeat="k in knowledgeList">
        <td>{{$index + 1}}</td>
        <td>{{ k.title}}</td>
        <td></td>
        <td></td>
        <td>
          <a href="" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a href="#" class="btn btn-danger btn-sm" ng-click="delete($index)">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </td>
      </tr>
    </table>
    <div ng-if="knowledgeList == null">
      <span class="help-block">Start adding some knowledge you have</span>
    </div>
  </div>
</section>
<!-- Script is not in a separated file because it looses SECURITY CONTEXT -->
<!-- When used in another file for REST API consuming, it get ACCESS DENIED-->
<!-- Make sure you handle this before taking this script to another file -->
<script>
    var app = angular.module('myApp', []);

    app.controller('knowledgeController', function ($scope, $http) {

        $scope.hideForm = true;

        $scope.show = function () {
            $scope.hideForm = false;
        };

        $scope.cancel = function () {
            $scope.hideForm = true;
        };

        $scope.findAll = function () {
            $http.get("/user/knowledge/rest/all").then(function (value) {
                $scope.knowledgeList = value.data;
            });
        };

        $scope.save = function (title, description) {
            if (title == null || description == null) {
                return;
            }
            $http.post('/user/knowledge/rest/' + title + '/' + description)
                .then(function () {
                    $scope.findAll();
                    $scope.hideForm = true;
                    $scope.title = '';
                    $scope.description = '';
                })
        };

        $scope.delete = function (index) {
            $http.delete('/user/knowledge/rest/' + index).then(function () {
                $scope.findAll();
            })
        };

    });
</script>
</body>
</html>