<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link th:href="@{/css/contacts.css}" rel="stylesheet"/>
  <link href="../static/css/contacts.css" rel="stylesheet"/>
  <title>Contacts</title>
</head>
<body>
<header th:replace="topBar::topBar"></header>
<section class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-11 col-lg-offset-1 text-left">
      <h1>Your contacts</h1>
      <div class="contact-list col-sm-8">
        <table class="table table-hover">
          <tr data-th-each="user, iterStat : *{userList}">
            <td>
              <img th:if="${user.getImage()}" th:src="@{'/user/image/'+ ${user.id}}" class="img-circle"
                   width="80" height="80">
              <img th:if="!${user.getImage()}" th:src="@{/img/default-profile.png}" class="img-circle"
                   width="80" height="80">
            </td>
            <td>
              <strong th:text="${user.firstName} + ' ' + ${user.lastName}"></strong>
              <p class="contact-info" th:text="'Contact: ' + ${user.lastName}"></p>
            </td>
            <td>
              <a th:href="@{'/user/' + ${user.getId()}}">
                <button class="btn btn-default">Profile</button>
              </a>
            </td>
          </tr>
        </table>
        <hr>
      </div>
    </div>
  </div>
</section>

</body>
</html>