<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!--Proportional rendering according to screen dimensions-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Compiled Bootstrap and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--JQuery for showing bar dropdown-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
  <title>SEA</title>
</head>
<body>
<header th:replace="topBar::topBar"></header>
<h1 th:text="${homeMessage}">static</h1>
</body>
</html>