<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!--Proportional rendering according to screen dimensions-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Compiled Bootstrap and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--JQuery for showing bar dropdown-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <title>Profile</title>
</head>
<body>
<header th:replace="topBar::topBar"></header>
<div class="container">
  <div th:if="${saved}" class="alert alert-success" align="center">
    <strong>Success!</strong> Profile updated.
  </div>
  <h1>Your Profile</h1>
  <form th:object="${user}" class="form-horizontal" method="post" enctype="multipart/form-data"
        th:action="@{/user/profile}">
    <input id="id" th:field="*{id}" type="hidden"/>
    <div class="form-group" style="margin-left: 20px">
      <label>
        <img th:if="${hasImage}" th:src="@{'/user/image/'+ ${user.id}}" class="img-circle" width="150" height="150">
        <img th:if="!${hasImage}" th:src="@{/img/default-profile.png}" class="img-circle" width="150" height="150">
        <span><input type="file" name="file" style="opacity: 0"></span>
      </label>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-3">
        <input th:field="*{firstName}" class="form-control" type="text" placeholder="?" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-3">
        <input th:field="*{lastName}" class="form-control" type="text" placeholder="?" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Biography</label>
      <div class="col-sm-3">
        <textarea th:field="*{biography}" class="form-control" rows="5" maxlength="200" placeholder="?"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Distance meeting</label>
      <label class="radio-inline">
        <input th:field="*{remote}" type="radio" name="remote" value="true">Yes
      </label>
      <label class="radio-inline">
        <input th:field="*{remote}" type="radio" name="remote" value="false">No
      </label>
    </div>
    <h2>Where you live</h2>
    <div class="form-group">
      <label class="col-sm-2 control-label">Country</label>
      <div class="col-sm-3">
        <input th:field="*{personalAddress.country}" class="form-control" type="text" placeholder="?" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">State</label>
      <div class="col-sm-3">
        <input th:field="*{personalAddress.state}" class="form-control" type="text" placeholder="?" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">City</label>
      <div class="col-sm-3">
        <input th:field="*{personalAddress.city}" class="form-control" type="text" placeholder="?" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Neighborhood</label>
      <div class="col-sm-3">
        <input th:field="*{personalAddress.neighborhood}" class="form-control" type="text" placeholder="?">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
</body>
</html>