<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--Style is defined in html because it won't work using th:replace fragment if defined in a separated css file-->
<nav class="navbar navbar-inverse" th:fragment="topBar"
     style="margin-bottom: 0; border-radius: 0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SEA</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul sec:authorize="isAuthenticated()" class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="glyphicon glyphicon-search"></span> Search <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/user/search/place">Search by Place</a></li>
            <li><a href="/user/search/city">Search by City</a></li>
          </ul>
        </li>
        <li><a href="/user/contact/all">
          <span class="glyphicon glyphicon-user"></span> Contacts</a></li>
        <li><a href="/user/knowledge">
          <span class="glyphicon glyphicon-book"></span> Knowledge</a></li>
        <li><a href="/user/place">
          <span class="glyphicon glyphicon-map-marker"></span> Places</a></li>
        <li><a href="/user/contact/requests">
          <span class="glyphicon glyphicon-bell"></span> Requests</a></li>
        <li><a href="/user/profile">
          <span class="glyphicon glyphicon-cog"></span> Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li sec:authorize="!isAuthenticated()"><a href="/signup">
          <span class="glyphicon glyphicon-globe"></span> Sign Up</a></li>
        <li sec:authorize="!isAuthenticated()"><a href="/signin">
          <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <!--Shows sign out option if user is authenticated-->
        <li sec:authorize="isAuthenticated()"><a href="/logout">
          <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>