<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--Style is defined in html because it won't work using th:replace fragment if defined in a separated css file-->
<nav class="navbar navbar-inverse" th:fragment="topBar"
     style="margin-bottom: 0; border-radius: 0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SEA</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li sec:authorize="isAuthenticated()"><a href="/user/search/home">Search</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/user/knowledge">Knowledge</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/user/place">Places</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/user/profile">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li sec:authorize="!isAuthenticated()"><a href="/signup">Sign Up</a></li>
        <li sec:authorize="!isAuthenticated()"><a href="/signin">Login</a></li>
        <!--Shows sign out option if user is authenticated-->
        <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>