<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Title</title>
</head>
<body>
<header th:replace="topBar::topBar"></header>
<section class="container">
  <div th:object="${user}" class="form-horizontal" style="margin: 50px">
    <div class="form-group col-sm-10">
      <div class="col-sm-3">
        <label>
          <img th:if="${user.getImage()}" th:src="@{'/user/image/'+ ${user.id}}"
               class="img-circle" width="150" height="150">
          <img th:if="!${user.getImage()}" th:src="@{/img/default-profile.png}" class="img-circle" width="150"
               height="150">
        </label>
      </div>
      <div class="col-sm-8">
        <h1 th:text="*{firstName + ' ' +lastName}">static</h1>
        <form th:if="!${requestExists} and !${areConnected}" th:method="post"
              th:action="@{'/user/contact/request/' + ${user.id}}">
          <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-user"></span> Request Contact
          </button>
        </form>
        <h3><span th:if="${requestExists}" class="label label-default">Pending request</span></h3>
        <h3><span th:if="${areConnected}" class="label label-default">Connected</span></h3>
      </div>
    </div>
    <div th:if="${isAccepted}" class="form-group">
      <label class="col-sm-3 control-label">Info for contact</label>
      <div class="col-sm-6">
        <p th:text="*{infoForContact}"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Biography</label>
      <div class="col-sm-3">
        <p th:text="*{biography}" maxlength="200">static static static static static static static static static</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Distance meeting</label>
      <label class="radio-inline">
        <p th:text="*{remote}">static
      </label>
    </div>
    <h2>Location</h2>
    <div class="form-group">
      <label class="col-sm-3 control-label">Country</label>
      <div class="col-sm-3">
        <p th:text="*{personalAddress.country != null} ? *{personalAddress.country} : 'empty'">static</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">State</label>
      <div class="col-sm-3">
        <p th:text="*{personalAddress.state != null} ? *{personalAddress.state} : 'empty'">static</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">City</label>
      <div class="col-sm-3">
        <p th:text="*{personalAddress.city != null} ? *{personalAddress.city} : 'empty'">static</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Neighborhood</label>
      <div class="col-sm-3">
        <p th:text="*{personalAddress.neighborhood != null} ? *{personalAddress.neighborhood} : 'empty'">static</p>
      </div>
    </div>
  </div>
</section>
</body>
</html>